@media screen and (min-width: 772px) {
    div {
        width: 45%;
        display: inline-block;
        margin-right: 2%; 
        box-sizing: border-box; 
    }

    img {
        max-height: 30vh;
    }
}

@media screen and (min-width: 998px) {
    div {
        width: 30%;
        margin-right: 2%;
    }
}